@import "tailwindcss";


@theme static {
    --font-display: "Montserrat", sans-serif;
    --color-primary: #32C1C6;
    --color-secondary: #1F2833;
    --color-disabled: #555555;
    --color-background: #0B0C10;
    --color-white: #E4E3E3;
    --color-warn: #C4B135;
    --color-danger: #D14536;
    --color-success: #00C16A;
    --color-blue: #45A29E;
}

/* --- General Styles --- */
body {
    font-family: var(--font-display), sans-serif;
    color: var(--color-white);
}

/* --- Component Styles --- */
.icon-container {
    @apply flex items-center rounded-xl p-2 bg-background text-primary text-2xl hover:text-white transition duration-400;
}
.icon-primary {
    @apply  hover:bg-gradient-to-br hover:from-primary hover:to-blue;
}
.icon-red {
    @apply cursor-pointer hover:bg-danger;
}
.icon-blue {
    @apply hover:bg-blue;
}

/* --- Text Styles --- */
.landing-title {
    @apply md:font-bold font-semibold lg:text-4xl text-3xl bg-clip-text text-transparent bg-gradient-to-l from-teal-400 to-blue;
}
.logo-title {
    @apply text-lg font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-teal-400 p-2;
}
.page-title {
    @apply font-semibold text-xl;
}
.nav-text {
    @apply flex items-center font-medium border border-transparent hover:border hover:border-b-primary hover:text-primary transition duration-400;
}
.sidebar-text {
    @apply font-semibold transition duration-400;
}
.form-label-text {
    @apply font-medium text-primary;
}


