@import "tailwindcss";


@theme static {
    --font-display: "Montserrat", "sans-serif";
    --color-primary: #32d1c6/*66FCF1*//*800080*/;
    --color-secondary: #1F2833;
    --color-disabled: #C5C6C7/*7A7A7A*/;
    --color-background: #0B0C10;
    --color-white: #FFF;
    --color-warn: #C4B135;
    --color-danger: #D14536;
    --color-success: #00C16A;

    --color-light-primary: rgba(128, 0, 128, .175);

    --color-light-gray: #E4E3E3;

    --color-blue: #45A29E;
}

/* --- Component Styles --- */
.icon-container {
    @apply flex items-center rounded-lg p-2 bg-background text-primary text-2xl hover:text-white transition duration-400;
}
.icon-primary {
    @apply hover:bg-primary ;
}
.icon-red {
    @apply hover:bg-danger;
}
.icon-blue {
    @apply hover:bg-blue;
}

/* --- Text Styles --- */
.landing-title {
    @apply font-black text-4xl bg-clip-text text-transparent bg-gradient-to-l from-teal-400 to-teal-500 p-2;
}
.logo-title {
    @apply text-xl font-black bg-clip-text text-transparent bg-gradient-to-r from-primary to-teal-400 p-2;
}
.page-title {
    @apply font-bold text-xl text-white;
}
.nav-text {
    @apply flex items-center font-semibold text-light-gray border-2 border-transparent hover:border-2 hover:border-b-primary hover:text-primary transition duration-400 mx-3 px-2 py-1;
}
.sidebar-text {
    @apply text-white font-bold;
}
.default-text {
    @apply text-white font-light
}

/* --- Button Styles --- */

.button-primary {
    @apply border-primary text-white hover:bg-primary ;
}

